{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
</head>
<body>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                Список команд, которые можно использовать на сайте.<br>
                Копируйте URL команд, указывайте необходимые аргументы.<br><br>

                Добавить указанный по product_id продукт к указанному по recipe_id рецепту и указать вес добавленного
                продукта через weight. <br>
                http://127.0.0.1:8000/add_product_to_recipe/?recipe_id=2&product_id=4&weight=500<br><br>

                Увеличить на 1 число использований каждого продукта, входящего в рецепт, определяемый по recipe_id. <br>
                http://127.0.0.1:8000/cook_recipe/?recipe_id=3 <br><br>

                Отобразить таблицу со всеми рецептами, в которых продукт, указанный по product_id, отсутствует, или его
                вес не превышает 10 условных единиц. <br>

                http://127.0.0.1:8000/show_recipes_without_product/?product_id=5<br><br>
            </div>
            <div class="col-12">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

        </div>
    </div>
</section>
</body>
</html>